<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="msg.mapper.ListMsgMapper">

	
	

	<select id="selectMsgList" resultType="msg.pojo.Msg">
		select * from msg;
	</select>
	
	<select id="selectMsgByMid"  parameterType="int" resultType="msg.pojo.Msg">
		select * from msg where mid=#{v};
	</select>
	
	<update id="uploadMsgById" parameterType="msg.pojo.Msg">
		update msg set title=#{title},content=#{content},upload_time=#{upload_time} where mid=#{mid}
	</update>
	
	<insert id="insertMsg" parameterType="msg.pojo.Msg">
		insert into msg (title,content,upload_time,create_time) values(#{title},#{content},#{upload_time},#{create_time})
	</insert>
	
	<delete id="deleteMsgById" parameterType="int">
		delete from msg where mid=#{v}
	</delete>
</mapper>
